body
{
    background: #6868a5;
    font-family: "Trebuchet MS";
}
.main
{
    width:1000px;
    height:500px;
    margin: 0 auto;
    margin-top: 100px ;
    border: 1px solid ; //should be removed when done
}

.main .left
{
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
    background: #ffffff;
    position: relative;
    border: 1px solid ;


}

.main .left h1
{
    margin-top: 100px; //makes the strucute under login aligned to the middle
}

.main .left form input
{
    text-align: center;
    width: 50%;
    height: 25px;
    margin-bottom: 5px;
    border: none;
    background: #e7e7e7;
    border-radius:20px ;

}
.left form input:focus{outline: none;}

.left form input[type="submit"]
{
    background: #6f0e8d;
    color: #f5f5f5;
    cursor: pointer;
    font-weight: bold;
}

.left form input[type="submit"]:hover
{
  background: #100707;
}

.left p.forget:hover
{
    cursor: pointer;
    text-decoration:underline;
}

.left p.or
{
    font-size: 15px;
    color: #fafafa;
   /* width: 40px;*/
    height: 30px;
    padding-top: 10px;
    background: #050509;
    border-radius: 50%;
    position: absolute;
    left: 97%;

}

.main .right
{

    color: #fafafa;
}